# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
static/
.env

# React
node_modules/
build/
*.log

# Python Virtual Environment
venv/
.env/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/

# System Files
*.swp
